<a href="https://colab.research.google.com/github/AndreiTugaoen/58013-Linear-Algebra/blob/main/Review_Of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [4]:
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

Python Commnets

In [7]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable

In [11]:
x = 1
a, b= 0,-1
a,b,c = 0, -1, 2

Casting

In [13]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [14]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [15]:
y = "John"
y = 'John'

Case Sensitive

In [16]:
a = 4
A = "Sally"
#A will not overwite a

Multiple Variables

In [17]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [18]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [22]:
x = "enjoying"
print("Python programming is "+ x)

Python programming is enjoying

Other way:

In [23]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmitic Operation

In [24]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = x+y
sum

8

8

Assignmnet Operators

In [26]:
a,b,c = 0, -1, 6
c%=3
c

0

Comparion Operators and Logical Operators

In [ ]:
a,b,c = 0,-1, 6
a>b and c>b
True

Identity Operators

In [28]:
a,b,c=0,-1,5
a is c
False

False

Bitwise Operators

In [31]:
a,b,c=0,-1,5
c >> 1

2